/* START - HTML Elements Styling */

body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(-90deg, #eeeeee, white);
}

.container {
  padding: 12px 24px;
}

input {
  font-size: large;
  border-width: 0px;
  border-radius: 6px;
  background-color: #eaeaea;
  color: #212121;
  padding: 16px;
}

input:focus {
  outline-color: #e2e2e2;
  outline-width: 0.1px;
}

button {
  margin-left: 12px;
  padding: 8px 12px;
  border-width: 0px;
  background-color: #212121;
  color: white;
  border-radius: 5px;
  font-size: medium;
}

button:hover {
  background-color: #474747;
  transition: 0.3s;
}

button:disabled {
  display: none;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

/* END - HTML Elements Styling */

/* START - Avatar, Username, Name */

.info-section {
  margin: 12px 0 12px 0;
  padding: 20px 24px;
  align-self: flex-start;
  border-radius: 3px;
  display: flex;
  width: fit-content;
}

.info-detail-section {
  flex-direction: row;
  margin-left: 26px;
}

.info-style {
  background-color: rgba(247, 247, 247, 0.8);
  box-shadow: 0.5px 0.5px #ececec;
  width: fit-content;
  padding: 6px 12px;
  margin-right: 8px;
  border-radius: 4px;
  font-size: small;
}

.hiring {
  font-size: x-small;
  font-weight: "bold";
}

.username {
  font-size: small;
  color: gray;
  margin-bottom: 0;
}

/* END - Avatar, Username, Name  */
